{% extends 'AppCorredoresRiojaBundle:Organizaciones:zonaorganizaciones.html.twig' %}

{% block title %}
    Bienvenido a Carreras por La Rioja
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/appcorredoresrioja/css/carrerasrioja.css') }}" rel="stylesheet" media="all" type="text/css">
{% endblock %}

{% block content %}
    <div id="migas">
        <div class="clear"></div> 
    </div>
    <div class="contenido">

    {% for mensaje in app.session.flashbag.get('info') %}
        <p class="info">{{ mensaje }}</p>
    {% endfor %}
        
    <p> Hola {{ nombre }}, a continuación se muestran las carreras creadas por ti. </p>    
        
    <h1>Carreras por disputar</h1>
    <div class="centro">
        <ul>
            {% for carNoDis in carrerasNoDis %}
            <li class="columna">
                <ul>
                    <li class="celda">
                        <div class="parteCelda">
                            <img src="{{ asset(carNoDis.Imagen) }}"/>
                        </div>
                        <div class="parteCelda2">
                            <h3><a href="{{ path('app_corredores_rioja_carrera_slug',{'slug': carNoDis.slug}) }}">{{ carNoDis.nombre }}</a></h3>
                            <p>{{ carNoDis.FechaCelebración | date('d/m/Y H:i') }}</p>
                            <div style="float:right; padding:10px 5px">
                                <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                                   href="{{ path('app_organizaciones_rioja_registro_modificar_carrera',{'slug': carNoDis.slug}) }}" ><span>Modificar</span> </a>
                            </div>                            
                        </div>    
                    </li>
                </ul>
            </li>
            {% endfor %}    
        </ul>
    </div>
    <div class="clear"></div> 


    <h1>Carreras disputadas</h1>    
    <div class="centro">
        <ul>
        <!--for-->
        {% for carDis in carrerasDis %}
            <li class="columna">
                <ul>
                    <li class="celda">
                        <div class="parteCelda">
                            <!--<img src="http://193.144.240.225/bundles/appcorredoresrioja/images/foto55f6e0ca8f274.jpg"/>-->
                            <img src="{{ asset(carDis.Imagen) }}"/>                         
                        </div>
                        <div class="parteCelda2">
                            <h3><a href="{{ path('app_corredores_rioja_carrera_slug',{'slug': carDis.slug}) }}">{{ carDis.nombre }}</a></h3>
                            <p>{{ carDis.FechaCelebración | date('d/m/Y H:i') }}</p>
                            <div style="float:right; padding:10px 5px">
                                <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" 
                                   href="{{ path('app_corredores_rioja_carrera_slug',{'slug': carDis.slug}) }}" ><span>Clasificaciones</span> </a>
                            </div>
                        </div>    
                    </li>
                </ul>
            </li>
            {% endfor %}
        <!--fin del for-->    
        </ul>
    </div>
    <div class="clear"></div>
    </div>
{% endblock %}

