{% extends 'AppCorredoresRiojaBundle:Organizaciones:zonaorganizaciones.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/appcorredoresrioja/css/carrerasrioja.css') }}" rel="stylesheet" media="all" type="text/css">
    <link href="{{ asset('bundles/appcorredoresrioja/css/formulario.css') }}" rel="stylesheet" media="all" type="text/css">   
{% endblock %}

{% block title %}
    Bienvenido a Carreras por La Rioja
{% endblock %}

{% block content %}
    <div class="clear"> </div>
    <div class="contenido"> 
        <h1>Nueva carrera</h1>
    <form action="{{ path('app_organizaciones_rioja_registro_modificar_carrera',{'slug': slug }) }}" method="post" {{ form_enctype(formulario) }}>
        {{ form_widget(formulario) }}
    </form>
    <div class="clear"> </div>
    </div>
{% endblock %}
