{% extends 'AppCorredoresRiojaBundle:Corredores:base.html.twig' %}

{% block submenu %}
    <div class="barra_menus">

        <div id="menu">
            <ul>
                <li>
                    <a href="{{ path('app_corredores_rioja_homepage') }}">{{ 'menu.portada' | trans }}<br></a>
                </li>
                <li>
                    <a href="{{ path('app_corredores_rioja_carreras') }}">{{ 'menu.carreras' | trans }}<br></a>
                </li>
                <li>
                    <a href="{{ path('app_corredores_rioja_miscarreras') }}">{{ 'menu.miscarreras' | trans }}<br></a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_corredores_rioja_perfil') }}">Perfil<br></a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_logout') }}">Logout<br></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('usuario_login') }}">Login<br></a>
                    </li>
                {% endif %}
            </ul>
            <div style="clear: left;"></div>
        </div>
    </div>     
    <div class="sombra">
        <div class="nucleo">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
